.activity {
    width: 100%;
    height: 45vh;
    max-width: 540px;
    background-color: azure;
    border-radius: 3vh;
}

.sb {
    width: 5px;
}

.pro:hover {
    cursor: pointer;
}

/**********/

.fs {
    font-size: .8rem;
    font-weight: 500;
}

.hd {
    font-size: .9rem;
}

.txt {
    font-size: .7rem;
}

i {
    font-size: 1.2rem;
}

.dp {
    height: 2rem;
    width: 2rem;
    border-radius: 10vh;
}